@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif !important;
}
.gradient {
  background: rgb(180, 35, 35);
  background: linear-gradient(
    90deg,
    rgba(180, 35, 35, 1) 0%,
    rgba(24, 40, 47, 1) 100%
  );
}
.banner {
  padding: 4rem;
}
.titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2.2rem;
  font-weight: 500;
}
.titulos span:nth-child(1) {
  color: white;
}
.titulos span:nth-child(2) {
  color: red;
}
.banner {
  margin: 0 auto;
}
.banner_content {
  margin: 0 auto;
  text-align: center;
  padding: 0 !important;
  /* width: 29.5rem; */
}
.banner_img {
  margin: 0 auto;
  padding: 0 !important;
  margin-bottom: 1rem;
}
.banner_img img {
  border-radius: 1rem;
  margin-left: 0;
  width: 29.4rem;
}
.banner_text {
  font-size: 1.6rem;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 29.5rem;
  background-color: whitesmoke;
}
.banner_text span {
  font-weight: bold;
  color: #B42323;
  /* color: #2224be; */
}
/*-- Texto con iconos --*/
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.text_icons {
  font-size: 2.2rem;
}
/*-- CTA Boton --*/
.cta_formulario_general {
  text-decoration: none;
  color: white;
}
.cta_formulario_general:hover {
  color: white;
}

/*-- Texto con estadisticas --*/
.back_graficos {
  padding: 0.5rem;
  border-radius: 5%;
  background-image: linear-gradient(90deg, rgba(180,35,35,1) 0%, rgba(24,40,47,1) 100%);
}
.back_graficos_2{
  padding: 0.5rem;
  width: 100%;
  border-radius: 5%;
  background-color: whitesmoke;
  margin: 0 0;
}
/*-- Footer --*/
footer{
  /* background-color: #f8f8f8; */

}
.footer_text{
  color: white;
  font-size: 2.2rem;
}
/*-- Formulario General --*/
.politica_label {
    margin-left: 1rem;
}
.formulario_general {
  font-size: 2.2rem;
  font-weight: bold;
}
.formulario_general h1 {
  font-weight: bold;
  color: #b42323;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
form input {
  height: 3.4rem;
}
.error_container {
  font-size: 1.6rem;
  position: relative;
  /*
    border: 1px solid red;
    top: -45px;
    */
  /*
    height: 3.4rem;
    */
}
.error_icon {
  position: absolute;
  top: -3.7rem;
  right: 1rem;
  color: red;
}
.error {
  position: relative;
  color: red;
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
  /*
    top: 45px;
    */
}
/*------------ >375px ------------*/
@media only screen and (min-width: 376px) {
}
/*------------ >750px ------------*/
/*
@media only screen and (min-width: 750px) {
  .titulos {
    margin: 0 auto;
    max-width: 60rem !important;
  }
  .banner_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 60rem !important;
  }
  .banner_img {
    margin: 1rem;
  }
  .banner_text {
    margin: 1rem;
  }
  .banner_content {
    max-width: 60rem;
  }
}
*/
/*------------ >1160px ------------*/
@media only screen and (min-width: 1160px) {
  .titulos {
    margin: 0 auto;
    max-width: 110rem !important;
  }
  .banner_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 110rem !important;
  }
  .banner_img {
    margin: 1rem;
    /* vertical-align: middle; */
  }
  .banner_img img {
    width: 60rem;
  }
  .banner_text {
    display: flex;
    flex-direction: column;
    /* Me sirvió para centrar verticalmente
    ya que el eje es principal es vertical*/
    justify-content: center;
    font-size: 2rem;
    margin: 1rem 0 1rem 1rem;
    width: 45rem;
  }
}
