@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif !important;
}
.gradient {
  background: rgb(180, 35, 35);
  background: linear-gradient(
    90deg,
    rgba(180, 35, 35, 1) 0%,
    rgba(24, 40, 47, 1) 100%
  );
}
.banner {
  padding: 4rem;
}
.titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2.2rem;
  font-weight: 500;
}
.titulos span:nth-child(1) {
  color: white;
}
.titulos span:nth-child(2) {
  color: red;
}
.banner {
  margin: 0 auto;
}
.banner_img {
    margin: 0 0 0 0;
    padding: 0 !important;
}
.banner_img img {
    margin-left: 0;
  width: 29.5rem;
}
.banner_text {
 margin: 0 auto;
 padding: 1rem;
 width: 30rem;
 background-color: whitesmoke;
}
/*------------ >375px ------------*/
@media only screen and (min-width:375px){

}